[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=IanniX
Comment=IanniX is a graphical open-source sequencer, based on Iannis Xenakis works, for digital art. IanniX syncs via Open Sound Control (OSC) events and curves to your real-time environment.
Exec=IanniX
Icon=icon.png
Terminal=false